<!DOCTYPE html>
<html>
    <head>
        {% block stylesheets %}
            <link href="{{ asset('/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('/css/app.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    {% if app.user %} %}
                    <li class="dropdown"><a href="#" class=class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href={{ path('addProduct') }}>Add</a></li>
                            <li><a href={{ path('homePage') }}>All Products</a></li>
                        </ul>
                    </li>
                    <li><a href={{ path('profile') }}>Profile</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user %}
                        <li><a href={{ path('fos_user_security_logout') }}><span class="glyphicon glyphicon-user"></span>Logout</a></li>
                    {% else %}
                        <li><a href={{ path('fos_user_security_login') }}><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="header">
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>